<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="./node_modules/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            {{ rawHtml }}
            <p>Using v-html dirctive: <span v-html="rawHtml"></span></p>
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                hove to look the info 
            </span>
        </div>

        <div id="app-3">
            <span v-if="seen">
                hahaha      
            </span>
        </div>

        <div id="app4">
            <span v-for="todo in todos">
                {{ todo.name }}
            </span>
        </div>

        <div id="app-5">
            {{ message }}
            <span @click="reverse">
                reverse
            </span>
        </div>
        
        <script src="./index.js"></script>
    </body>
</html>

